@import './custom.scss';

.contact-form {
    max-width: 600px;
    margin: 0 auto;
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input,
      textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #999999;
        border-radius: 4px;
      }
    }
  }