@import './custom.scss';

.list-group {
  height: 200px; // adjust this value as needed
  overflow-y: auto;

  // make the scrollbar thin and styled
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.typo {
  font-family: 'Montserrat', sans-serif !important;
}