@import './custom.scss';
// Path: src/assets/styles/custom.scss

.features {
    min-height: 80vh;
    max-height: fit-content;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        max-height: fit-content;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #32cd3210;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        img {
            width: 80px;
            height: 80px;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            text-align: center;
        }
        
        h5 {
            text-align: center;
        }
    }

}

// set card group to be in the same height, and set the card to be in the center

