@import './custom.scss';

.footer {
  background-color: $dark;
  color: $light;
  padding: 1rem;
  text-align: center;
}

.foot-menu.nav-link {
    color: #F5F5F5 !important;
}

.foot-menu.nav-link:hover {
    color: #999999 !important;
}

.socials.nav-link:hover {
    color: #999999;
}